.mainForm
{
    width: 200px;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3
{
    text-align: center;
}

.mainForm label
{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit
{
    transition: background-color 0.4s ease;
    display: block;
    width: 90px;
    
    margin: 0 auto;
    margin-top: 14px;
    
    text-align: center;
    font-size: 1.2em;
    
    background-color: #2f548b;
    border: 3px solid #2f548b;
    border-radius: 5px;
    padding: 3px 0px;
    
    font-family: "Pokemon-Solid";
    
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited
{
    color: #c89f1a;
}

.formSubmit:hover
{
    transition: color 0.1s ease;
    background-color: #3a5ea9;
    color: #ffcb05;
}

.formSubmit:active
{
    transition: transform 0.1s ease;
    transform: scale( 0.9, 0.9 );
}

#user, #pass, #pass2
{
    font-family: "Pokemon-Hollow";
    text-align: center;
    font-size: 1em;
    width: 100%;
    border: 3px solid;
    border-radius: 6px;
    border-color: #2f548b;
    display: block;
}

#user:focus, #pass:focus, #pass2:focus
{
    outline: none;
    border-color: #c89f1a;
}