extends ./base.jade
block append style
    link( rel = "stylesheet", type = "text/css", href = "/assets/css/style.css" )
    link( rel = "stylesheet", type = "text/css", href = "/assets/css/forms.css" )
block body
  img#logo( src = "/assets/img/misc/jokemonlogo.png", alt = "Jokémon" )
  section#signup
    form#signupForm( class = "mainForm", name = "signupForm", action = "/signup", method = "POST" )
      input#user( type = "text", name = "username", placeholder = "username" )
      input#pass( type = "password", name = "pass", placeholder = "password" )
      input#pass2(type = "password", name = "pass2", placeholder = "retype password" )
      input( type = "hidden", name = "_csrf", value = "#{csrfToken}" )
      a#signupSubmit( class = "formSubmit", href = "#" ) Sign up
      a( class = "link" href = "/" ) Have an account?<br>Sign in!
  #jopusMessage
    img#speech( src = "/assets/img/misc/speech.png", alt = "speech box" )
    h3
      span#errorMessage Wrong username or password
    img#jopus( src = "assets/img/misc/errorjopus.png", alt = "I'm a Jopus!" )
block scripts
  script( src = "/assets/src/signup.js" )
  script( src = "/assets/src/appfunctions.js" )